Functions in Python

Function is a block of statements that perform a specific task.

def func_name( param1, param2):
# some work

return val

func_name(arg1, arg2 ..) # function call

In [ ]:

# Function defination
def Calc_sum(a,b):  # parameters   
    sum = a+b
    print(sum)
    return sum

Calc_sum(5, 10)  # function calling; arguments

15

15

In [9]:
def calc_avg(a, b, c):
    sum = a+b+c
    avg = sum/3
    print(avg)
    return avg

calc_avg(10,12,16)

12.666666666666666

12.666666666666666

In [ ]:
# Print function
print("IITian","Ajay") # sep =" "
print ("Ajay", end=" ")
print("GLA") # end = "\n"

IITian Ajay
Ajay GLA

Default Paramters

In [13]:
def calc_prod(a=2, b=3):  # here we already provide default value in function
    print(a*b)
    return(a*b)


calc_prod()

6

6

Lets Practice

WAF to print the length of the list (list is the parameter)

WAF to print the elements of a list in a single  line

In [16]:
cities = ["delhi", "agra", "noida", "pune", "mumbai"]
meth = [1,2,3,4,5,6,7,8]

def print_length(list):
    print(len(list))
    
print_length(cities)

def print_list(list):
    for item in list:
        print(item, end=" ")

print_list(cities)

5
delhi agra noida pune mumbai

WAF to find factorial of n. (n is the parameter)

In [17]:
def calc_fact(n):
    fact = 1
    for i in range(1, n+1):
        fact *= i
    print(fact)
    
calc_fact(6)

720

In [18]:
# Write a function to convert USD in INR
def converter(usd_val):
    inr_val = usd_val*85
    return inr_val

converter(10)

850

* Recursion

When a function calls itself repeatedly

# prints n to 1 backwards

In [ ]:
# recursive function
def show(n):
    if(n==0):   # base case
        return
    print(n)
    show(n-1)

show(5)

5
4
3
2
1

In [21]:
# factorial program through recursion
def fact(n):
    if (n==0 or n==1): # base case condition in recursion
        return 1
    else:
        return n * fact(n-1)

fact(5)

120

Write a recursive function to calculate the sum of first n natural numbers.

In [ ]:
def natural_sum(n):
    if(n==0):
        return 
    else:
        sum = n + natural_sum(n-1)
        return sum

natural_sum(19)

190

write a recursive function to print all elements in a list
Hint: use list & index as parameters

In [26]:
def print_list(list, idx):
    if(idx == len(list)):
        return
    print(list[idx])
    print_list(list, idx+1)
    
fruit = ["mango", "apple", "lichi", "ganabana", "banana"]

print_list(fruit,2)

lichi
ganabana
banana